@use "./colors";
@use "./typography";

body {
  background-color: colors.$slate-300;
  font-size: typography.$font-size;
  font-family: typography.$font-family;
  font-weight: typography.$font-weight-regular;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
  position: relative;
  padding: 1rem;

  .creater {
    position: absolute;
    bottom: 2%;
    right: 2%;
  }

  .card {
    background-color: colors.$white;
    box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.1);
    border-radius: 0.625rem;
    max-width: 17rem;
    padding: 1rem;
    margin-bottom: 1rem;

    img {
      width: 100%;
      border-radius: 0.625rem;
      max-height: 18rem;
      max-width: 18rem;
    }

    .footer {
      text-align: center;

      &-text {
        font-size: 0.94rem;
        font-weight: typography.$font-weight-regular;
        color: colors.$slate-500;
      }

      &-title {
        font-size: 1.375rem;
        font-weight: typography.$font-weight-bold;
        color: colors.$slate-900;
        width: 100%;
      }
    }
  }
}
